<h2 style="text-align:center">Admin Profile</h2>

<div class="card">
  <img src="assets/images.png" alt="**" style="width:100%">
  <h3>Papa Rao</h3>
  <p class="title">Developer, Example</p>
  <h5> <i class="fa fa-phone fa-1x" > &nbsp;</i>9505043171</h5>
  <div style="margin: 24px 0;">
    <a><i class="fa fa-dribbble"></i></a>&nbsp;
    <a><i class="fa fa-twitter"></i></a>&nbsp;
    <a><i class="fa fa-linkedin"></i></a>&nbsp;
    <a><i class="fa fa-facebook"></i></a>
  </div>
  <p><button>Contact</button></p>
</div>