<br>
<form>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Nmae</label>
    <div class="col-sm-6">
      <input type="name" class="form-control" id="name" value="Papa Rao" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="inputEmail" value="paparaon48@gmail.com" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label for="mobile" class="col-sm-2 col-form-label">Mobile</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="number" value="9505043171" disabled>
    </div>
  </div>

  <div class="form-group row">
      <label for="village" class="col-sm-2 col-form-label">Village</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="vill" value="Kovelamudi" disabled>
      </div>
    </div>

    <div class="form-group row">
        <label for="district" class="col-sm-2 col-form-label">district</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="dist" value="Guntur" disabled>
        </div>
      </div>
      

      <div class="form-group row">
          <label for="state" class="col-sm-2 col-form-label">State</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="state" value="Andhra Pradesh" disabled>
          </div>
        </div>

        <div class="form-group row">
            <label for="pin" class="col-sm-2 col-form-label">Pincode</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="pin" value="522212" disabled>
            </div>
          </div>

</form>